@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
}

.container > .navHandler {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .navHandler .nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

.nav_left {
  display: flex;
  grid-column: span 2;
}

.nav_left .icon {
  width: 20px;
}

.nav_left div {
  background: #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 1em;
}

.nav_left div:first-child {
  margin: 0 !important;
}

.logoHandler {
  grid-column: span 4;
  text-align: center;
}

.logoHandler #logo {
  font-weight: bold;
  font-size: 3em;
}

.nav_right {
  display: flex;
  justify-content: end;
  grid-column: span 2;
}

.nav_right div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6em;
}

.nav_right div:last-child {
  margin: 0 !important;
}

.nav_right .icon {
  width: 34px;
  height: 34px;
  position: relative;
  top: 1px;
}

.nav_right button {
  width: 100px;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  padding: 0.4em 0;
  cursor: pointer;
  font-weight: 400;
}

.menu,
.menuwithimages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.menu_items,
.menuwithimages_items {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.menu_items > div {
  grid-column: span 2;
  border: 0.1em solid #000;
  text-align: center;
  padding: 0.2em 0;
}

.menu_items > div h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.thumb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.thumb .thumb_child {
  width: 90%;
  min-height: 50vh;
  background-image: url("../images/kids.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1em solid;
  border-image-source: url("../images/borderbgthumb.jpg");
  border-image-slice: 70;
  border-image-repeat: round;
}

.aboutus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.aboutus_child {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutus_child_content p {
  font-weight: 400;
  font-size: 20px;
}

.aboutus_child button {
  color: #fff;
  background-color: transparent;
  border-radius: 20px;
  background-color: #000;
  outline: none;
  border: none;
  width: 300px;
  padding: 0.3em 0;
  font-size: 20px;
  cursor: pointer;
}

.menuwithimages {
  margin-top: 2em;
  margin-bottom: 2em;
}

.menuwithimages_items > .menuwithimages_items_each {
  grid-column: span 2;
  border: 0.1em solid #000;
  text-align: center;
  padding: 0.2em 0;
}

.menuwithimages_items_each_title {
  border-top: 0.1em solid #000;
  padding: 0.5em 0;
}

.menuwithimages_items_each_title h2 {
  font-size: 18px;
  font-weight: 600;
}

.menuwithimages_items_each_imgHandler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.menuwithimages_items_each_imgHandler img {
  object-fit: cover;
  width: 220px;
  height: 140px;
}
